body{
    background-color: rgb(245, 225, 220);
    font-family:Georgia, 'Times New Roman', Times, serif;
}
h1{
    background-color: rgba(226, 111, 121, 0.726);
    color:rgb(220, 20, 20);
    text-align: center;
    font-size: large;
}
h2{
    color:rgb(220, 20, 20);
    font-size: large;
}
h3{
    color: rgb(110, 13, 21);
    font-size: large;
}