body{
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    height: 100%;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin: 50px 50px 50px 50px; /*sentido horário*/
    border-style: solid;
    border-width: 2px;
    border-color: teal;
    padding: 20px;
    padding-top: 20px;
    padding-right: 20px;
}
h1{
    background-color: rgb(11, 136, 123);
    color: white;
    width: 300px;
    height: 40px;
    margin: 50px;
    border: 2px dashed lightgreen;
    padding: 20px;
}
p{
    display: inline; /*não preenche mais toda a linha*/
    background-color: lightgrey;
}
span{
    display: block; /*ocupa linha como um todo*/
    background-color: lightseagreen;
}
.box1{
    position: static;
    background-color: mediumaquamarine;
    width: 400px;
    height: 50px;
}
.box2{
    position: relative;
    background-color: rgb(25, 126, 122);
    width: 400px;
    height: 50px;
    bottom: 50px; /*movendo a posição, para cima (bottom)*/
    left: 450px;
}
.box3{
    position: absolute;
    background-color: olive;
    width: 400px;
    height: 50px;
    top: 500px;
    left: 500px;
}
.box4{
    position: fixed;
    background-color: green;
    top: 0px;
    width: 400px;
    height: 50px;
    left: 0px;
}
.box5{
    position: static;
    background-color: greenyellow;
    left: 150px;
}
.layer1{
    position: relative;
    background-color: khaki;
    width: 80px;
    height: 70px;
    bottom:0px ;
    left: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

}
.layer2{
    position: relative;
    background-color: rgb(194, 174, 0);
    width: 80px;
    height: 70px;
    bottom:20px ;
    left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    
}